[submodule "external/people"]
	path = external/people
	url = https://github.com/openstates/people.git
[submodule "external/elections-api"]
	path = external/elections-api
	url = https://github.com/aclu-national/elections-api.git
